{}
______
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><% if (page.title) { %><%= page.title %> | <% } %>Simon Tabor</title>
    <% if (page.description) { %>
    <meta name="description" content="<%= page.description %>">
    <% } %>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="<%= site.asset_path('/css/normalize.css') %>">
    <% for (var i = 0; i < (page.css || []).length; i++) { %>
    <link rel="stylesheet" href="<%= site.asset_path(page.css[i]) %>">
    <% } %>
    <link rel="stylesheet" href="<%= site.asset_path('/css/main.css') %>">

    <script>
     !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
     arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
     d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
     insertBefore(d,q)}(window,document,'script','_gs');

     _gs('GSN-757634-O', false);
     _gs('set', 'trackLocal', true);
     _gs('track', function() {
      _gs('identify', _gs('get', 'clientID'));
     });
    </script>

    <link href="https://plus.google.com/115011493167128003979" rel="publisher">
    <meta property="og:site_name" content="Simon Tabor">
    <meta property="twitter:account_id" content="1510089216">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <% include header %>
    <div role="main">
      <%- content %>
    </div>
    <% include footer %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.9.0.min.js"><\/script>')</script>
    <% for (var i = 0; i < (page.scripts || []).length; i++) { %>
    <script src="<%= site.asset_path(page.scripts[i]) %>"></script>
    <% } %>
    <script src="<%= site.asset_path('/js/main.js') %>"></script>
    <% if (page.buttons && page.buttons.facebook) { %>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=222345401243936";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <% } %>
  </body>
</html>
